// start 404
.box-404
  display: flex
  flex-wrap: wrap
  height: 100vh
  min-height: 400px
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.box-404-inner
  margin: auto
  text-align: center

.title-404
  font-size: 25rem
  color: rgba(255,255,255,.8)
  font-weight: 600
  margin-bottom: 40px
  +md()
    font-size: 15rem
.content-404
  color: #ffffff
  font-size: 2.5rem
  text-transform: uppercase
  margin-bottom: 60px
  +md()
    font-size: 1.5rem

.link-404
  padding: 15px 20px
  background-color: $main-color
  color: #ffffff
  text-transform: uppercase
  display: inline-block
  font-size: 1.4rem

  transition: .3s
  &:hover
    text-decoration: none
    color: #fff
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.6)

// end 404