// start category

.single-category-title
  margin-top: 30px

.cat-category-box
  margin: 30px 0px

.cat-serch-box
  display: flex
  flex-wrap: wrap
  .cat-serch-box-inner
    width: 14.28%
    position: relative
    +lg()
      border: 1px solid #edeff0
      width: 100%
      margin-bottom: 10px

    &:after
      content: ''
      position: absolute
      right: 0px
      top: 50%
      transform: translateY(-50%)
      height: 50%
      width: 1px
      background: #edeff0
    &:last-child:after
      content: none
    +lg()
      &:after
        content: none
.cat-area-search
    display: inline-block
    background: #fff
    height: 40px
    line-height: 40px
    padding: 0 15px
    color: rgba(0, 0, 0, 0.4)
    font-size: 1rem
    font-weight: 400
    width: 100%
    text-transform: uppercase
    margin-bottom: 30px

    .cat-area-search-name
      display: inline-block
      width: 30%
    .cat-area-search-range
      display: inline-block
      width: 65%
      vertical-align: text-bottom

.advanced-search-price
  .cat-price-select-box
    .cat-price-select
      height: 60px
      line-height: 60px
      color: rgba(0, 0, 0, 0.4)
      font-size: 1.4rem
      font-weight: 400

    .cat-custom-select-box
      width: 100%

.cat-price-select-box
  position: relative

  .cat-price-select
    width: 100%
    font-size: 1rem
    line-height: 40px
    padding: 0 15px
    color: rgba(0,0,0,.5)
    text-transform: uppercase
    font-weight: 500
    position: relative
    cursor: pointer
    //&.open
    //  background: #fbfbfb
    &:after
      content: ''
      position: absolute
      background-image: url(../img/down.png)
      width: 8px
      height: 5px
      transform: translateY(-50%)
      right: 5px
      top: 50%

  .cat-custom-select-box
    position: absolute
    width: calc(200% + 3px)
    left: -1px
    border: 1px solid #edeff0
    top: calc(100%)
    background: #fff
    //height: 250px
    z-index: 9
    opacity: 0
    visibility: hidden
    &.__dark
      background: #fbfbfb
    +lg()
      width: 100%

    .cat-custom-select-inner
      border-bottom: 1px solid #edeff0
      padding: 15px
      font-size: 1.2rem
      color: #000
      &:last-child
        border-bottom: none

      .range-to
        float: right

      .cat-custom-checkbox
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0px

  .cat-custom-select-box.open
    visibility: visible
    opacity: 1

.cat-search-box
  position: relative
  margin-bottom: 30px
  +md
    margin-top: 15px

  input
    padding-right: 50px
    +placeholder(rgba(0,0,0, .5), 1rem, 500, uppercase)

  .cat-search-img
    position: absolute
    right: 0px
    height: 100%
    width: 40px
    text-align: center
    background: #fafafa
    top: 0
    line-height: 40px

.cat-slider-small-inner-box
  margin-bottom: 30px
  position: relative

.box-map
  //margin-top: 15px
  &.fixed-map
    margin-top: 0px
    position: fixed
    bottom: 0px
    right: 0px
    height: 100vh
    .map
      height: 100%

  .map
    width: calc(100% + (100vw - 1170px)/2  + 6.5px)
    height: 100vh

  .map-labels
    color: #000
    background-color: #fff
    font-size: 14px
    text-align: center
    width: 80px
    height: 30px
    font-weight: 500
    line-height: 30px
    vertical-align: middle
    white-space: nowrap
    position: relative
    overflow: visible !important
    &:after
      content: ''
      position: absolute
      left: 50%
      bottom: -20px
      border: 10px solid transparent
      border-top: 10px solid #fff
      transform: translateX(-50%)
    &.map-hover
      background: $main-color
      color: #fff
      z-index: 999 !important

    &.map-hover:after
      border-top-color: $main-color
.box-info-map-link
  &:hover
    text-decoration: none
.box-info-map
  height: auto
  font-size: 1.4rem
  color: #000
  position: relative
  font-weight: 600
  background: #fff
  &:after
    content: ''
    position: absolute
    left: 50%
    bottom: -20px
    border: 10px solid transparent
    border-top: 15px solid #fff
    transform: translateX(-50%)

  .box-info-map-box-content
    padding: 12px 9px

  .box-info-img
    height: 180px
    width: 100%

  .box-info-t
    margin-bottom: 7px
    font-weight: bold

  .box-info-params
    color: #202020
    font-size: 1.2rem
    font-weight: 500
    margin-bottom: 7px
    &.__bold,
    .__bold
      color: #000
      font-weight: 600
    &.__right
      text-align: right
    &.__region
      margin-bottom: 15px

  .box-info-tr
    width: 100%
    font-size: 0px

    .box-info-td
      width: 50%
      display: inline-block

.cat-btn
  margin: 15px 0px 30px


// start input range\

.custom-range-box
  margin-top: 10px

  .custom-range-input-box
    margin-top: 10px
    input
      border-bottom: 1px solid #edeff0
      text-align: center
      font-size: 1.2rem
      background: none
.noUi-base,
.noUi-handle
  transform: none

.noUi-horizontal
  height: 2px

  .noUi-handle
    width: 15px
    height: 15px
    width: 15px
    height: 15px
    left: -6px
    top: -7px
    border: 3px solid $main-color
    box-shadow: none
    border-radius: 50%
    //transform: none
    &:focus
      outline: none
    &:before,
    &:after
      content: none

.noUi-connect
  background: $main-color
  height: 2px
  top: -1px

.noUi-tooltip
  border: none
  background: none
  padding: 0
  line-height: 1.2rem
  font-size: 1.2rem
  color: #000
  margin-bottom: 6px

// end input range
// end category