
*,
*:after,
*:before
    -webkit-box-sizing: border-box
    box-sizing: border-box


body, p, h1, h2, h3, h4, h5, h6, hr, ul, li
    padding: 0
    margin: 0
    font-family: $font-stack
    font-size: 1rem
img
    max-width: 100%
    vertical-align: middle
.relative
    position: relative
.main-title
    font-size: 30px
    font-weight: 600
    color: #000
    position: relative
    display: inline-block
    opacity: 1
    transition: .3s
    a
        color: #000
        &:hover
            color: #000
            text-decoration: none
            opacity: .7
    +xs()
        font-size: 2.5rem
    &:after
        content: ''
        position: absolute
        width: calc((100vw - 100%)/2 - 50px)
        top: 50%
        background-color: $main-color
        height: 1px
        left: calc((100% - (100vw - 17px))/2)
        z-index: 1
    &.__lite
        color: #fff


.bg-option
    background:
        repeat: no-repeat
        size: cover
        position: center

.form-group
    position: relative
    margin-bottom: 25px

input,
select
    width: 100%
    max-width: 100%
    border: none
    background: none
    border-bottom: 10px
    border-bottom: 1px solid rgba(255,255,255,.1)
    height: 35px
    //line-height: 34px
    padding: 0px 30px
    color: #fff
    font-size: 1.4rem
    font-weight: 500
    position: relative
    &:focus
        outline: none
    &:focus + .form-circle
        background-color: #fff

.form-group
    &.__lite
        margin-bottom: 40px
        input
            color: #000
            border-bottom-color: rgba(0,0,0,.1)
            &:focus
                border-bottom-color: $main-color
            &:focus + .form-circle
                background-color: $main-color
        .form-circle
            background-color: rgba(0,0,0,.1)
.form-circle
    content: ''
    position: absolute
    width: 10px
    height: 10px
    background-color: rgba(255,255,255,.1)
    left: 5px
    top: 50%
    border-radius: 50%
    transform: translateY(-50%)
    transition: .3s

.border-lg
    border: 1px solid #edeff0
    +lg()
        border: none

.border-all
    border: 1px solid #edeff0

.custom-checkbox-box
    text-align: center
    margin-bottom: 15px
    +md()
        text-align: left

.custom-checkbox
    color: rgba(255,255,255,0.5)
    font-size: 1rem
    cursor: pointer
    margin-right: 17px
    font-weight: normal
    &:last-child
        margin-right: 0px
    &.__light
        color: #000
        font-size: 1.2rem

    input[type='checkbox'],
    input[type='radio']
        display: none

    input[type='checkbox'] + span,
    input[type='radio'] + span
        position: relative
        display: inline-block
        vertical-align: middle
        width: 16px
        height: 16px
        background: #202020
        margin-right: 10px
        transition: .3s
        position: relative
        &:after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            width: 0px
            height: 0px
            transform: translate(-50%, -50%)
            background: #fff

    .custom-checkbox-label
        display: inline-block

    input[type='radio'] ~ .custom-checkbox-label,
    input[type='radio'] ~ .custom-checkbox-label
        color: rgba(0,0,0,.5)
    &.__light

        input[type='checkbox'] + span,
        input[type='radio'] + span
            background: none
            border: 1px solid #edeff0
            margin-right: 3px
            background: #fff
            &:after
                background: $main-color

    input[type='checkbox']:checked + span,
    input[type='radio']:checked + span
        &:after
            width: 8px
            height: 8px

    input[type='checkbox']:checked ~ .custom-checkbox-label,
    input[type='radio']:checked ~ .custom-checkbox-label
        color: #000

a.button,
button.button
    display: inline-block
    padding: 15px 20px
    margin-bottom: 0
    font-size: 1.6rem
    text-align: center
    vertical-align: middle
    cursor: pointer
    color: #fff
    border: 1px solid #fff
    border-radius: 0px
    text-transform: uppercase
    background: none
    transition: .3s
    &:hover
        background-color: #fff
        color: #000
    &:focus
        outline: none

a.button.__info,
button.button.__info
    font-size: 1.4rem
    padding: 5px 20px
    &:hover
        border-color: $main-color
        background: $main-color
        color: #fff
        text-decoration: none


a.button.__balck,
button.button.__balck
    border: 1px solid #000
    color: #000
    font-size: 1.2rem
    text-transform: initial
    font-weight: 400
    padding: 10px
    &:hover
        background-color: #000
        color: #fff

a.button.__danger,
button.button.__danger
    border: 1px solid $main-color
    color: #fff
    font-size: 1.6rem
    text-transform: uppercase
    font-weight: 500
    padding: 10px 20px
    background-color: $main-color
    &:hover
        background-color: #fff
        text-decoration: none
        color: $main-color

a.button.__danger.__small,
button.button.__danger.__small
    font-size: 1.2rem
    text-transform: uppercase
    padding: 10px 15px

object i
    opacity: 1
    transition: .3s
    &:hover
        opacity: .6
.hor-line:after
    content: ''
    position: absolute
    left: -15px
    top: 0
    height: 100%
    width: 1px
    background: rgba(255,255,255,0.6)
    +lg()
    display: none

.form-search
    input,
    select
        background: #fff
        height: 60px
        //line-height: 60px
        padding: 0px 15px
        color: rgba(0,0,0, .4)
        font-size: 1.4rem
        text-transform: uppercase
        font-weight: 400
        border: none
        position: relative
        +placeholder(rgba(0,0,0, .4), 1.4rem, 400, uppercase)
    &.__small
        input,
        select
            font-size: 1rem
            height: 40px
            //line-height: 40px

@keyframes header-scroll
    from
        bottom: 0

    50%
        bottom: 5px

    to
        bottom: 0



// start select 2
.cat-category-box

    .select2-container--default .select2-selection--single
        height: 40px

        .select2-selection__rendered
            line-height: 40px
            font-size: 1rem

    .select2-container--default .select2-selection--single .select2-selection__arrow
        height: 40px
        right: 5px

.__small

    .select2-container--default .select2-selection--single
        height: 40px

        .select2-selection__rendered
            line-height: 40px
            font-size: 1rem

    .select2-container--default .select2-selection--single .select2-selection__arrow
        height: 40px
        right: 5px


.select2-container--open .select2-dropdown--below
    transform: translateY(1px)

.select2-container--default .select2-selection--single
    padding: 0px 25px 0px 15px
    height: 60px
    background: #fff
    border: none
    border-radius: 0px

    .select2-selection__rendered
        line-height: 60px
        color: rgba(0, 0, 0, 0.4)
        font-size: 1.4rem
        font-weight: 400
        text-transform: uppercase
        padding: 0px
    &:focus
        outline: none

.select2-dropdown
    border: none
    border-radius: 0px



.select2-container--default .select2-selection--single .select2-selection__arrow
    height: 60px
    right: 10px

    b
        border: none
        background-image: url(../img/down.png)
        width: 8px
        height: 5px
        transform: translateY(-50%)
        margin-top: 0px
        margin-top: -1px

.select2-container--default .select2-results>.select2-results__options
    background: #fbfbfb

.select2-container--default .select2-results__option[aria-selected=true]
    background-color: #f0f0f0

.select2-container--default .select2-results__option--highlighted[aria-selected]
    background-color: $main-color

.select2-results__option
    padding: 15px
    font-size: 1.2rem
    color: #000
    border-bottom: 1px solid #edeff0
//.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
//    transform: rotate(180deg) translateY(-50%)
//    transform-origin: top
//end select 2

// start modal
.modal-box
    background: #fff
    padding: 30px

    .modal-header
        border-bottom: 0px

        .modal-title
            font-size: 3rem
            font-weight: 600
            text-transform: uppercase

    .modal-form-h
        font-size: 1.6rem
        margin-bottom: 40px
        font-weight: 600
        color: rgba(0,0,0,.6)

    .verification-code
        width: 150px
        display: inline-block
        margin-right:  20px

        input
            height: 44px
            padding: 0px 25px
    .captcha-box
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        align-items: center
        +md()
            justify-content: flex-start
            margin-bottom: 10px

        .captcha-info
            font-size: 1.6rem
            color: #000000
            font-weight: 500
            display: inline-block
            margin-right: 20px
        .captcha-cod
            height: 44px
            line-height: 44px
            background-color: #d2d2d2
            text-align: center
            color: #fff
            font-size: 1.8rem
            font-weight: 600
            width: 150px
    .date-viewed
        display: flex
        align-items: center
        justify-content: space-between

    .select2-container--default .select2-selection--single
        height: 35px
        padding: 0px 20px 0px 5px
        border-bottom: 1px solid #d2d2d2

    .select2-container--default .select2-selection--single .select2-selection__rendered
        line-height: 35px

    .select2-container--default .select2-selection--single .select2-selection__arrow
        height: 35px
        right: 3px
// end modal

.daterangepicker.dropdown-menu
    z-index: 9999