//start contacts
.contacts-map-box
  position: relative
  .contacts-marker-box
    position: absolute
    z-index: 999
    top: 50%
    transform: translateY(-50% )

    .contacts-marker-next
      position: absolute
      right: -40px
      cursor: pointer
      top: 50%
      transform: translateY(-50%)

    .contacts-marker-box-single
      width: 300px
      height: 370px
      background: #fff
      padding: 20px 30px
      text-align: center
      display: none
      +sm()
        width: 260px
        padding: 15px
      &.active
        position: relative
        margin-left: 80px
        +sm()
          margin-left: 5px
      &.half-active
        display: block
        position: absolute
        right: calc(100% - 49px)
        background: rgba(255, 255, 255, 0.6)
        transform: scale(0.95)
        top: 0
        +sm()
          display: none !important

      .contacts-marker-title
        font-weight: 600
        font-size: 2rem
        line-height: 24px
        padding-bottom: 15px
        border-bottom: 1px solid $main-color
        margin-bottom: 10px

      .contacts-marker-info-box
        padding: 30px 0px
        font-size: 1.4rem
        font-weight: 600
        border-bottom: 1px solid rgba(0,0,0,.1)
        &:last-child
          border-bottom: 0px

        .contacts-marker-info-title
          color: rgba(0,0,0,.5)
          margin-bottom: 15px

        .contacts-marker-info-content
          display: flex
          flex-wrap: wrap
          flex-direction: column
          a
            margin-bottom: 5px
            color: #000
            &:last-child
              margin-bottom: 0px
            &:hover
              color: #000
              text-decoration: none

#contacts-map
  height: 600px
//end contacts
