/*start footer*/
footer
  background: #000
  padding: 30px 0px

  .footer-box-single
    +lg()
      margin-top: 30px
      text-align: center

  .footer-h
    font-size: 1.6rem
    color: #fff
    padding-bottom: 15px
    font-weight: 600
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 50%
      height: 1px
      background: rgba(255, 255, 255, 0.6)
      +lg()
        right: 0
        margin: 0 auto

  .footer-menu
    list-style-type: none
    padding: 0px
    margin: 0

    li
      margin-top: 15px

      a
        display: inline-block
        font-size: 1.2rem
        color: rgba(255, 255, 255, 0.6)
        transition: .3s
        &:hover
          color: #fff

  .footer-cont-h
    font-size: 1.6rem
    color: #fff
    margin-bottom: 30px
    position: relative
    font-weight: 600
    &.__partners
      margin-bottom: 20px

  .footer-adress
    font-size: 1.2rem
    color: rgba(255, 255, 255, 0.6)

  .footer-contact-box
    font-size: 0px
    margin-top: 20px

    .footer-contact-single
      width: 50%
      display: inline-block
      margin-bottom: 20px
      font-size: 1.2rem
      color: rgba(255, 255, 255, 0.6)

  .partners
    img
      display: inline-block
      vertical-align: middle
      &.appstore
        width: 112px

      &.clever
        width: 112px

    .partners-name
      font-size: 1.2rem
      color: #fff
      display: inline-block
      vertical-align: middle
      margin-left: 10px

  .partners-inner
    margin-top: 20px

    img
      display: inline-block

.copyright-box
  position: relative
  margin-top: 30px
  padding-top: 30px
  position: relative
  a
    color: rgba(255, 255, 255, 0.6)

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 1px
    background: rgba(255,255,255,0.6)

  .copyright
    font-size: 1.2rem
    color: rgba(255, 255, 255, 0.6)
    display: inline-block

  .site_development-box
    @extend .copyright
    float: right
    display: flex
    flex-wrap: wrap
    align-items: center
    .site_development
      margin-right: 10px
      display: inline-block
/*end footer*/