/*start header*/
header
  background: #000
  position: relative

  .header-menu-box
    background: rgba(0,0,0,.97)
    position: absolute
    width: 100%
    left: 0px
    top: 100%
    z-index: 99999
    border-top: 1px solid rgba(255,255,255,.1)
    display: none

    .header-menu-social
      display: none
      justify-content: center
      flex-wrap: wrap
      margin-bottom: 10px
      +sm()
        display: flex

      a
        margin-right: 15px
        &:last-child
          margin-right: 0px

    .header-menu-box-inner
      width: 65%
      margin: 0 auto
      padding: 60px 0px
      +sm()
        width: 100%
        padding: 45px 0px

    .header-menu-column-box
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      .header-menu-column
        width: 35%
        +xs
          width: 100%

    .header-menu
      list-style-type: none
      padding: 0px
      margin: 0px
      li
        a
          color: #fff
          padding: 20px 0px
          display: block
          border-bottom: 1px solid rgba(255,255,255,.1)
          text-transform: uppercase
          font-weight: 600
          font-size: 1.2rem
          color: rgba(255,255,255,.5)
          transition: .3s
          +sm()
            font-size: 1rem
          +xs
            padding: 15px 0px
          &:hover
            text-decoration: none
            border-color: #fff
            color: #fff

        &.active
          a
            border-color: #fff
            color: #fff


    .close-menu
      position: absolute
      right: 0px
      top: 25px
      z-index: 9999
      cursor: pointer

.header-box
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1.4rem
  height: 80px
  color: #fff

  .header-log
    display: inline-block
    +xs()
      max-width: 130px

  .header-tel

    .header-tel-number
      margin-left: 10px
      color: #ffffff
      font-weight: 500
      display: inline-block
      vertical-align: middle
      +md()
        display: none
  .header-tel
    a:hover
      text-decoration: none

  .header-menu-icon-box
    cursor: pointer
    padding: 7px

    span
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      font-weight: 500
      color: rgba(255,255,255,.9)

    .header-menu-icon
      line-height: 50px
      width: 26px
      overflow: hidden
      display: inline-block
      vertical-align: middle
      margin-right: 5px

      .h-menu-elem
        width: calc(100% - 6px)
        height: 2px
        margin-left: 3px
        background: #fff
        margin-bottom: 5px
        transition: .5s
        &:last-child
          margin-bottom: 0px
        &.h-menu-elem-1
          transform-origin: top left
        &.h-menu-elem-2
          transform-origin: center left
        &.h-menu-elem-3
          transform-origin: bottom left
    &.open
      .h-menu-elem-1
        transform: rotate(45deg)

      .h-menu-elem-2
        transform: translate(-200%, 0)

      .h-menu-elem-3
        transform: rotate(-45deg)

/*end header*/