/*start index*/
.mp-slider-main-head-box
  position: relative

  .mp-header-social-link
    position: absolute
    bottom: 15%
    width: calc((100vw - 1170px - 17px)/2 + 15px - 40px)
    text-align: center
    left: 0px
    +sm()
      display: none

    a
      display: inline-block
      margin-bottom: 45px

.mp-slider-main-box
  width: calc(100% + (100vw - 100% - 17px)/2 + 40px)
  position: relative
  left: -40px
  +lg()
    width: calc(100% + (100vw - 100% - 17px)/2)
    left: 0px
  +sm()
    width: 100vw
    left: -15px


  &:after
    content: ''
    position: absolute
    width: 100%
    left: calc(100% - 100vw)
    top: 0px
    height: 85%
    background: #000
    +sm()
      content: none

  .mp-slider-main-item
    height: calc(100vh - 80px)
    min-height: 550px
    position: relative
    +sm()
      min-height: 350px
  &.open

    .mp-slider-main-item-inner
        left: 50px
        top: 50px
        transform: translateY(0)
        width: 30%
        animation: show  1s linear normal

  .mp-slider-main-item-inner
    width: 50%
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 150px
    width: 50%
    //transition: .5s
    +sm()
      left: 70px
      width: 70%
      top: calc(50% - 45px)

    .mp-slider-main-title
      font-size: 5rem
      color: #fff
      line-height: 6.6rem
      margin-bottom: 30px
      font-weight: 400
      +sm()
        font-size: 3rem
        line-height: 4.6rem
        margin-bottom: 10px
  &.open

    .mp-slider-main-item-inner

      .mp-slider-main-title
        font-size: 3.8rem

  .mp-slider-main-content
    font-size: 1.6rem
    line-height: 3rem
    color: #fff
    font-weight: 500
    padding-top: 40px
    position: relative
    opacity: 1
    visibility: visible
    .slider-btn-box
      margin-top: 15px
    transition: .3s
    +sm
      display: none
    //+sm()
    //  font-size: 1.4rem
    //  padding-top: 20px
    //  line-height: 1.6rem
    &:after
      content: ''
      position: absolute
      left: 0px
      top: 0
      width: 200px
      height: 1px
      background: #fff

  &.open
    .mp-slider-main-content
      //opacity: 0
      //visibility: hidden
      display: none

  &.open
    .search-icon
      background: $main-color

  .search-icon
    position: absolute
    top: 50%
    left: 0px
    transform: translateY(-50%)
    z-index: 99
    width: 60px
    height: 60px
    line-height: 60px
    text-align: center
    background: $main-color
    cursor: pointer
    transition: .3s
    +md
      display: none
    &:hover
      background: #d2d2d2

  &.open
    .mp-slider-main-search-from
      opacity: 1
      visibility: visible

  .mp-slider-main-search-from
    width: 73%
    font-size: 0px
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    top: 50%
    transform: translateY(-50%)
    z-index: 9
    opacity: 0
    visibility: hidden
    -webkit-transition: .3s
    background: rgba(255,255,255,.5)
    padding: 10px
    transition: .3s

    .mp-advanced-search
      position: absolute
      bottom: -40px
      right: 0px
      font-size: 1.2rem
      text-transform: uppercase
      color: #fff
      opacity: 1
      display: none
      &:focus,
      &:visited
        border: none
        text-decoration: none
        outline: none
      &.active
        display: block
      &:hover
        text-decoration: none
        opacity: .6

    .mp-form-search-sale,
    .mp-form-search-room,
    .mp-form-search-area,
    .mp-form-search-btn
      display: inline-block
      vertical-align: top

    .mp-form-search-line
      position: relative
      &:after
        content: ''
        position: absolute
        right: 0px
        top: 50%
        transform: translateY(-50%)
        height: 50%
        width: 1px
        background: #edeff0

    .mp-form-search-sale,
    .mp-form-search-room,
    .mp-form-search-btn
      width: 20%

    .mp-form-search-area
      width: 40%

    .mp-form-search-btn
      position: relative
      button
        width: 100%
        height: 60px
        line-height: 60px
        font-size: 1.4rem
        padding: 0px 30px
        text-transform: uppercase
        color: rgba(255,255,255, .7)
        vertical-align: middle
        text-align: center
        background-color: $main-color
        font-weight: 600
        outline: none
        border: none

      .submit-search-btn
        position: absolute
        left: 30px
        top: 50%
        transform: translateY(-50%)

    .advanced-search-box
      display: none
      margin-top: 10px

      //.advanced-search-city
      //  width: 20%
      //  display: inline-block
      //  vertical-align: top

      .advanced-search-price
        width: 50%
        display: inline-block
        vertical-align: top
        background: #fff

      .advanced-search-areas
        width: 50%
        display: inline-block
        vertical-align: top
        background: #fff
        height: 60px
        line-height: 60px
        padding: 0 15px
        color: rgba(0, 0, 0, 0.4)
        font-size: 1.4rem
        font-weight: 400
        text-transform: uppercase
      .advanced-search-range-name
        display: inline-block
        width: 25%
      .advanced-search-range-areas
        display: inline-block
        width: 70%
        vertical-align: text-bottom
    .advanced-search-checkbox-box
      margin-top: 10px

  .scroll-wrap
    position: absolute
    width: 22px
    height: 44px
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
    z-index: 9
    +sm
      display: none

    .scroll-box
      margin: 0 auto
      position: absolute
      cursor: pointer
      animation: header-scroll 1.75s infinite

  .owl-theme

    .owl-nav
      .owl-prev
        display: none
        position: absolute
        top: 50%
        transform: translateY(-50%)
        margin-top: 0
        left: 0px
        +md
          display: block
        +sm
          display: none

      .owl-next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        margin-top: 0
        right: 0px
        +sm
           display: none

    .owl-dots
      position: absolute
      left: 20px
      bottom: 20px

      span
        margin: 0px 5px 0px 0px
        width: 15px
        height: 15px
        background: none
        display: block
        border-radius: 0px
        border: 1px solid #fff

    .owl-dot.active,
    .owl-dot:hover
      span
        background: $main-color
        border: none

/*start mod search*/
.search-mob-icon
  position: absolute
  top: 50%
  left: 0px
  z-index: 99
  width: 60px
  height: 60px
  line-height: 60px
  text-align: center
  background: $main-color
  cursor: pointer
  display: none
  transform: translateY(-50%)
  transition: .3s
  +md
    display: block
  +sm()
    top: calc(50% - 45px)

  &:hover
    background: #d2d2d2

.modal-mob-search
  padding-top: 70px
  .close
    opacity: 1
    position: absolute
    right: 5px
    top: 20px
    z-index: 99
  .modal-body
    padding: 30px 15px 15px
  .mob-modal-select-box
    display: flex

    .mob-modal-select-half
      width: 50%

.modal-mob-input
  height: 40px
  background: #fff
  font-size: 1rem
  input
    color: #000
    height: 40px
    border-bottom: none
    padding: 0px 15px
    font-size: 1rem
    +placeholder( rgba(0, 0, 0, 0.4), 1rem, 400, uppercase)

.modal-mob-btn
  button,
  a
    background: $main-color
    height: 40px
    width: 100%
    font-size: 1rem
    padding: 0px 30px
    text-transform: uppercase
    color: #fff
    text-align: center
    font-weight: 500
    outline: none
    border: none

.mod-select
  height: 40px
  background: #fff
  color: rgba(0, 0, 0, 0.4)
  font-size: 1rem
  font-weight: 400
  text-transform: uppercase
  border: none
  padding: 5px 0px

.mob-search-more
  margin-bottom: 25px

  .mob-search-more-link
    font-size: 1rem
    color: #fff
    display: none
    text-align: center
    &.active
      display: block

.advanced-mob-search-box
  display: none

  .custom-checkbox
    color: #fff

.mob-search-from-to
  color: rgba(0, 0, 0, 0.4)
  background: #fff
  line-height: 30px
  font-size: 1rem
  display: flex
  padding: 5px 15px
  height: 40px

  .mob-search-from,
  .mob-search-to
    width: 35%
    input
      padding: 0px 2px
      text-align: center
      height: 30px
      text-transform: none
      box-shadow: none
      width: calc(100% - 20px)
      border: 1px solid rgba(0, 0, 0, 0.1)
      line-height: 1rem
      outline: none
      -webkit-appearance: none
      max-width: 70px
      color: rgba(0, 0, 0, 0.4)
      font-size: 1rem
      border-radius: 0px
      +placeholder($main-color, 1rem, 400, lowercase)

  .mob-search-from-to-name
    width: 30%

.modal-open
  overflow: hidden
  max-height: 100%

.modal-backdrop.in
  opacity: .9
  overflow: hidden
/*end mod search*/


.mp-contact-box
  margin: 60px 0px 130px

.contact-title
  margin-bottom: 30px

.mp-contact-content
  font-size: 1.6rem
  p
    font-size: 1.6rem
    margin-bottom: 35px
    font-weight: 500

.mp-form-box
  position: relative
  margin-left: 70px

  &.send-successful
    .mp-form-box-intermediate

      .mp-form-send
        bottom: 0px

    &:after
      background-color: #000
  +sm()
    margin-left: 0px

  .mp-form-box-intermediate
    padding: 50px 35px 40px
    background: #000
    overflow: hidden
    position: relative

    .mp-form-send
      position: absolute
      bottom: -100%
      left: 0px
      width: 100%
      height: 100%
      background-color: $main-color
      display: flex
      flex-wrap: wrap
      padding: 30px
      text-align: center
      transition: .3s

      .mp-form-send-content
        margin: auto
        font-size: 30px
        color: #fff

  //.mp-form-box-inner
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left: -70px
    bottom: -70px
    background-color: $main-color
    z-index: -1
    transition: .3s
    +sm()
      content: none

.mp-contact-form-h
  font-size: 30px
  color: #fff
  margin-bottom: 60px

.mp-box-sliders
  margin-bottom: 50px

.mp-slider-t
  margin-bottom: 50px

.mp-slider-small-item,
.mp-slider-small-item-inner
  height: 430px

.mp-slider-small-item
 position: relative

.mp-slider-small-item-inner
  padding: 20px

.content-house-box
  position: absolute
  left: 0px
  top: 0px
  bottom: 0px
  width: 100%
  height: 100%
  padding: 20px

  .content-house-box-inner
    position: relative
    height: 100%

  .content-house-icon-box
    position: absolute
    left: 0px
    top: 0px
    a
      display: inline-block
      margin-left: 5px
      &:first-child
        margin-left: 5px

  .content-house-info-box
    position: absolute
    bottom: 0px
    left: 0
    width: 100%

    .content-house-info-t
      font-size: 1.8rem
      color: #fff
      margin-bottom: 10px
      font-weight: 600

    .content-house-info-params
      font-size: 1.2rem
      color: #fff
      margin-bottom: 5px
      &:last-child
        margin-bottom: 0px

    .content-house-price-box
      position: absolute
      right: 0px
      bottom: 0px
      text-align: right

      .content-house-price
        font-size: 1.8rem
        color: #fff
        margin-bottom: 20px
        font-weight: 600
        &:last-child
          display: block
          margin-bottom: 0px

.info-modal-box
  position: absolute
  right: -55px
  top: 50%
  transform: translateY(-50%)
  z-index: 9
  +sm()
    display: none

  .js-info-modal-icon
    cursor: pointer

  &.open
    .for-info-modal-box
      visibility: visible
      opacity: 1

  .for-info-modal-box
    opacity: 0
    visibility: hidden
    position: absolute
    width: 400px
    background: #ffffff
    padding: 30px
    top: auto
    bottom: calc(100% + 30px)
    left: 50%
    transform: translatex(-50%)
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3)
    transition: .3s

    p
      font-size: 1.4rem
      font-weight: 500
      line-height: 2rem
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0px

    &:after
      content: ''
      position: absolute
      border: 20px solid transparent
      border-top: 20px solid #fff
      bottom: -40px
      left: 50%
      filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.1))
      transform: translateX(-50%)

.share-with-box
  position: relative
  display: inline-block
  &.open
    .share-with-inner
      visibility: visible
      opacity: 1
  .share-with-inner
    opacity: 0
    visibility: hidden
    position: absolute
    background: #fff
    padding: 10px
    top: calc(100% + 20px)
    left: 50%
    transform: translatex(-50%)
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
    white-space: nowrap
    width: 150px
    transition: .3s

    &:after
      content: ''
      position: absolute
      border: 12px solid transparent
      border-bottom: 12px solid #fff
      top: -24px
      left: 50%
      transform: translateX(-50%)

// start owl carousel
.mp-slider-small .owl-nav,
.mp-slider-small .owl-theme .owl-nav
  position: absolute
  right: 0px
  top: -120px
  margin-top: 0px
  +xs()
    top: 50%
    width: 100%

  .owl-prev
    +xs()
      position: absolute
      transform: translateY(-50%)
      left: 0px

  .owl-next
    +xs()
      position: absolute
      transform: translateY(-50%)
      right: 0px

.owl-theme .owl-nav [class*=owl-]
  width: 60px
  height: 60px
  line-height: 60px
  padding: 0px
  text-align: center
  background: #d2d2d2
  display: inline-block
  cursor: pointer
  border-radius: 0px
  margin: 0px
  margin-right: 10px
  transition: .3s
  &:hover
    background: $main-color
  &:last-child
    margin-right: 0px

.js-slider-small-inner .owl-nav,
js-slider-small-inner .owl-theme .owl-nav
  position: absolute
  right: 20px
  top: 20px
  margin-top: 0px

.js-slider-small-inner.owl-theme .owl-nav [class*=owl-]
  width: 25px
  height: 25px
  line-height: 0px
  padding: 0px
  text-align: center
  background: none
  display: inline-block
  cursor: pointer
  border-radius: 0px
  margin: 0px
  margin-right: 10px
  opacity: 1
  &:hover
    opacity: 0.6
    background: none
  &:last-child
    margin-right: 0px
// end owl carousel

// start slick carousel
.slick-next-custom,
.slick-prev-custom
  position: absolute
  top: 20px
  z-index: 9
  cursor: pointer
  opacity: 1
  transition: .3s
  &:hover
    opacity: .6

.slick-prev-custom
  right: 40px
.slick-next-custom
  right: 10px

// end  slick carousel

#preloader
  position: fixed
  left: 0
  top: 0
  z-index: 99999999
  width: 100%
  height: 100vh
  overflow: visible
  background: #000
  display: flex

.preloader-img
    margin: auto
    animation: opacity 3s linear, scale 3s infinite  2s linear

@keyframes opacity

  from
    opacity: 0


  to
    opacity: 1

@keyframes scale

  0%
    transform: scale(1)


  50%
    transform: scale(.7)

  100%
    transform: scale(1)

@keyframes show

  0%
    opacity: 0
    visibility: hidden

  100%
    opacity: 1
    visibility: visible

/*end index*/