/*start partners*/
.partner-box
  margin: 30px 0px
  .partner-single
    position: relative
    &:before
      content: ''
      position: absolute
      left: -15px
      bottom: -15px
      height: 100%
      width: 100%
      background-color: $main-color
      z-index: -1
    &.__no-border
      &:before
        content: none
    .partner-single-inner
      margin-bottom: 45px
      position: relative
      background-color: #fafcfb
      padding: 0px 0px 15px 15px
      height: 280px
      display: flex
      padding: 10px
      overflow: hidden
      img
        margin: auto
        max-width: 200px

      .partner-content
        position: absolute
        left: 0
        bottom: -100%
        width: 100%
        height: 100%
        text-align: center
        background-color: #fafcfb
        font-size: 1.6rem
        font-weight: 500
        line-height: 30px
        margin: auto
        padding: 15px
        transition: .3s
        span
          font-weight: 600
        +xs
          line-height: 20px
          font-size: 1.4rem
    &:hover
      .partner-content
        bottom: 0px

/*end partners*/
