//start privacy_policy
.privacy-policy-box
  margin: 30px 0px
.privacy-policy-content
  font-size: 1.4rem
    font-weight: 500
  p
    font-size: 1.4rem
    font-weight: 500
    margin-bottom: 20px
//end privacy_policy