/*start single_apartment*/
.apartment-slider-box
  margin-top: 30px
.slick-slider
  &.apart-slider-box-big,
  &.apart-slider-box-small
    height: calc(100vh - 110px)
    min-height: 500px

  &.apart-slider-box-small
    margin: -10px 0px

  .apart-slider-item-big
    height: calc(100vh - 110px)
    min-height: 500px

  .apart-slider-item-small
    padding: 10px 0px
    height: calc((100vh - 110px)/4 + 5px)
    min-height: calc(500px/4 + 5px)
    border: none
    outline: none

    .apart-slider-item-small-inner
      height: 100%



  .apart-slick-prev-custom,
  .apart-slick-next-custom
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background: rgba(255,255,255,0.1)
    z-index: 9
    cursor: pointer
    width: 60px
    height: 60px
    line-height: 60px
    text-align: center
    &:hover
      background: #000

  .apart-slick-next-custom
    right: 0px

  .apart-slick-prev-custom
    left: 0px


.small_container
  width: 85%
  margin: 0 auto

.apart-title
  font-size: 2.6rem
  line-height: 36px
  font-weight: bold
  margin: 30px 0px
  +xs()
    font-size: 1.8rem
    line-height: 22px
.apart-box-line
  margin-bottom: 25px
  padding-top: 20px
  padding-left: 20px
  border-top: 1px solid rgba(0,0,0,.2)

  &.__main
    padding-left: 0px

  .apart-box-line-title
    font-size: 1.8rem
    color: #000
    position: relative
    margin-bottom: 25px
    font-weight: 600

    &:after
      content: ''
      position: absolute
      left: -20px
      width: 10px
      height: 1px
      background-color: $main-color
      top: 50%
      transform: translateY(-50%)

  .apart-box-line-content
    font-size: 1.4rem
    color: rgba(0,0,0,.8)
    font-weight: 500
  p
    @extend .apart-box-line-content
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0px
    span
      color: #000
      font-weight: 600

  .apart-price
    color: #000
    font-weight: 600
    font-size: 1.4rem
    margin-top: 30px

    span
      color: $main-color

  .id-apartment
    font-size: 1.4rem
    text-align: center
    font-weight: 500
    margin-top: 40px

    .id
      color: $main-color
      font-weight: 600

  .apart-agent-tel
    text-align: center
    font-size: 1.6rem
    font-weight: 600
    span
      color: $main-color
      display: inline-block
      margin-left: 10px

  .apart-agent-box
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 15px
    +sm ()
      flex-direction: column

    .apart-agent-img
      width: 200px
      height: 200px
      position: relative
      margin-right: 50px
      background-color: #e9e8e6
      &:before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        right: -15px
        bottom: -15px
        background-color: $main-color
        z-index: -1

    .apart-agent-info-box
      display: inline-block
      vertical-align: middle
      +sm ()
        margin-top: 30px
      .apart-agent-name
        font-size: 18px
        font-weight: 600
        margin-bottom: 25px

      .apart-agent-info-inner-box
        font-size: 1.4rem
        font-weight: 500
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0px

        .apart-agent-info-t
          width: 60px
          display: inline-block
          text-align: left
          vertical-align: top

        .apart-agent-info-cont
          display: inline-block
          vertical-align: top
          span
            margin-bottom: 15px
            display: block
            color: $main-color
            &:last-child
              font-weight: 600
              margin-bottom: 0px

.apart-characteristics-box
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .apart-characteristics-inner
    +lg
      margin-top: 30px
    +md
      width: 50%
    +xs
      width: 100%

.apart-single-map
  height: 450px
  margin: 20px 0px 30px
/*end single_apartment*/