// start specialist
.specialist-bg
  height: 510px
  display: flex
  margin-bottom: 30px
  position: relative
  overflow: hidden

  .spec-play-box
    margin: auto

  .spec-play
    display: inline-block
    cursor: pointer

  .spec-play-content
    display: inline-block
    vertical-align: middle
    color: #ffffff
    font-size: 3rem
    font-weight: 300
    border-left: 1px solid #fff
    padding-left: 25px
    margin-left: 25px

  .spec-video
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: 1.5s cubic-bezier(0.4, 0, 0.2, 1)
    width: 100%
    opacity: 0
    visibility: hidden
    min-height: 100%
    &.open
      visibility: visible
      opacity: 1

.specialist-grid
  display: flex
  flex-wrap: wrap
  margin: 0 -15px

  .specialist-grid-inner
    width: 25%
    padding: 0 15px
    +md()
      width: 50%
    +xs()
      width: 100%

.specialist-single-box
  margin-bottom: 30px
  text-align: center

  .specialist-single-bg
    height: 275px
    background-color: #cfceca
    position: relative
    &:before
      content: ''
      position: absolute
      left: -10px
      bottom: -10px
      width: 100%
      height: 100%
      background-color: $main-color
      z-index: -1
  .specialist-single-name
    margin-top: 30px
    font-size: 1.6rem
    text-transform: uppercase
    font-weight: bold
    padding-bottom: 15px
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0px
      margin: 0 auto
      width: 95px
      height: 1px
      background-color: $main-color

  .specialist-single-position
    font-size: 1.2rem
    font-weight: 500
    margin-top: 15px
    span
      text-transform: uppercase

  .specialist-single-tel
    font-size: 1.2rem
    font-weight: 400
    margin-top: 15px
    span
      display: inline-block
      margin-right: 10px
      &:last-child
        margin-right: 0px

//end specialist