// start vacancy
.vacancy-bg
  padding: 40px 0px 90px
  margin-bottom: 50px

.vacancy-h-content
  color: #fff
  width: 85%
  margin: 60px auto 0px
  +sm()
    width: 100%

  p
    color: #fff
    font-size: 2.4rem
    line-height: 4rem
    margin-bottom: 20px
    +sm()
      font-size: 1.8rem
      line-height: 2.2rem
    &:last-child
      margin-bottom: 0px

.vacancy-box
  width: 85%
  margin: 0 auto
  +sm()
    width: 100%

  .vacancy-single
    border-bottom: 1px solid rgba(0,0,0,.2)
    margin-bottom: 50px
    padding-bottom: 20px
    position: relative
    &:last-child
      margin-bottom: 60px

    .vacancy-single-title
      font-size: 2rem
      font-weight: 600
      margin-bottom: 30px

    .vacancy-single-content
      font-size: 1.4rem
      color: rgba(0,0,0,.6)
      font-weight: 500

    .vacancy-single-content-half
      display: none

    .vacancy-btn
      margin-top: 30px

    .vacancy-single-content-more
      position: absolute
      bottom: -30px
      font-size: 1.4rem
      cursor: pointer
      font-weight: 500
      color: #000
      right: 0px
    .vacancy-single-content-more-img
      display: inline-block
      margin-left: 5px
      transition: .3s

    &.open
      .vacancy-single-content-more-img
        transform: rotate(180deg)
// end vacancy