=xs()
  @media screen and (max-width: #{$screen-xs})
    @content

=sm()
  @media screen and (max-width: #{$screen-sm})
    @content

=md()
  @media screen and (max-width: #{$screen-md})
    @content

=lg()
  @media screen and (max-width: #{$screen-lg})
    @content

=placeholder($color, $size, $weight, $transform: none )
  &::-webkit-input-placeholder
    color: $color
    font-size: $size
    font-weight: $weight
    text-transform: $transform
  &::-moz-placeholder
    color: $color
    font-size: $size
    font-weight: $weight
    text-transform: $transform
  &:-moz-placeholder
    color: $color
    font-size: $size
    font-weight: $weight
    text-transform: $transform
  &:-ms-input-placeholder
    color: $color
    font-size: $size
    font-weight: $weight
    text-transform: $transform
  &:focus
    outline: none