@font-face
  font-family: 'gotham'
  font-weight: 100
  src: url(../fonts/go-thin.ttf)


@font-face
  font-family: 'gotham'
  font-weight: 200
  src: url(../fonts/go-xlight.ttf)


@font-face
  font-family: 'gotham'
  font-weight: 300
  src: url(../fonts/go-light.ttf)


@font-face
  font-family: 'gotham'
  font-weight: 400
  src: url(../fonts/go-medium.ttf)


@font-face
  font-family: 'gotham'
  font-weight: 500
  src: url(../fonts/go-book.ttf)

@font-face
  font-family: 'gotham'
  font-weight: 600
  src: url(../fonts/go-bold.ttf)


@font-face
  font-family: 'gotham'
  font-weight: 700
  src: url(../fonts/go-black.ttf)

@font-face
  font-family: 'gotham'
  font-weight: 800
  src: url(../fonts/go-ultra.ttf)

