.icn
    width: 25px
    height: 25px
    display: inline-block
    vertical-align: middle
    background-image: url(../img/icon.png)

.icn-arrow-right

    background-position: 0 0
.icn-arrow-left

    background-position: -25px 0

.icn-chat
    background-position: -50px 0

.icn-star
    background-position: -75px 0

.icn-share
    background-position: -100px 0

.icn-arrow-s-left-small
    background-position: -125px 0

.icn-arrow-s-right-small
    background-position: -150px 0

.icn-search
    background-position: -175px 0

.icn-search-small
    background-position: -200px 0

.icn-facebook
    background-position: -225px 0

.icn-instagram
    background-position: -250px 0

.icn-arrow-top
    background-position: -275px 0

.icn-tel
    background-position: -300px 0

.icn-close
    background-position: -325px 0

.icn-info
    background-position: -350px 0
.icn-close-dark
    background-position: -375px 0

.icn-info
    width: 40px
    height: 40px
    display: inline-block
    vertical-align: middle
    background-image: url(../img/info-icon.png)
    background-position: 0 0
    &:hover
        background-position: 0 -40px